.button-range, .button-mage{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 8px;
}


.buttons, .canvas {
    float: left;
}

.button-connect-to-server {
    margin-top: 8px;
    display:block;
}

img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
