.button-range, .button-mage{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 8px;
}


.buttons, .canvas {
    float: left;
}

.button-connect-to-server {
    margin-top: 8px;
    display:block;
}

img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.armor-tab{
    float:left;
    position:relative;
    background: black;
    width: 200px;
    height: 300px;
}

.inventory-tab{
    float:left;
    position:relative;
    background: black;
    width: 200px;
    height: 300px;
}

.inventory-tab button{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: -2px;
    padding: 0px;
    overflow:hidden;
}

.button-hands {
    position: absolute;
    top: 169px;
    left: 0px;
}

.button-boots {
    position: absolute;
    top: 195px;
    left: 68px;
}

.button-body {
    position: absolute;
    top: 69px;
    left: 68px;
}


.button-cape {
    position: absolute;
    top: 55px;
    left: 0px;
}

.button-back {
    position: absolute;
    top: 0px;
    left: 0px;
}

.button-legs {
    position: absolute;
    top: 131px;
    left: 68px;
}
